<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
   <p>#{Date:Date}</p>
   <p>#{Date:Day}/#{Date:Month}/#{Date:Year}</p>
   <p style="color: Green">The Data key has a special meaning and cannot be overridden.</p>
   <p>#{Data:Name} is #{Data:age} years old...</p>
   <p>#{Data:Wows.Wow}</p>
   <p>#{Data:Wows.NonWow}</p>
   <p>#{Data:Wows.Subwow.SubwowProperty}</p>
   <p>#{Util:Date}</p>
   <p>#{Util:Time}</p>
   <p>#{Util:Version}</p>
   <p>#{Util:Engine}</p>
   <p>#{A:href=www.google.com.au|text=This is SOOOO cool!}</p>
   <p>#{A: }</p><p>#{A}</p><p>#{A: }</p><p>#{A}</p>
   <p>#{Alpha}</p>
   <p>#{Util:Date}</p>
   <p>#{!Util:Date}</p>
   <p>#{Resource:KeyHere}</p>
   <p>!{Util:Date}</p>
   <p>!{UtilDate}</p>
   <p>{!Util Date}</p>
   <p>#{Template:_SubTemplate}</p>
</body>
</html>
