
/*
	IMPORTANT: Please change the path to the database file.
	IMPORTANT: If you create the database give it the collation of Latin1_General_CI_AS_KS_WS
*/

--  Initial Database Creation Script
CREATE DATABASE [Catechize] ON  PRIMARY 
( NAME = N'Catechize', FILENAME = N'C:\_SqlData\Catechize.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Catechize_log', FILENAME = N'C:\_SqlData\Catechize_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
 COLLATE Latin1_General_CI_AS_KS_WS
GO
USE [Catechize]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Catechize] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

