
/*
	IMPORTANT: Please change the path to the database file.
	IMPORTANT: If you create the database give it the collation of Latin1_General_CI_AS_KS_WS
*/

--  Initial Database Creation Script
CREATE DATABASE [Catechize] ON  PRIMARY 
( NAME = N'Catechize', FILENAME = N'C:\_SqlData\Catechize.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Catechize_log', FILENAME = N'C:\_SqlData\Catechize_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
 COLLATE Latin1_General_CI_AS_KS_WS
GO
USE [Catechize]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Catechize] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

﻿

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Course
	(
	CourseID int NOT NULL IDENTITY (1, 1),
	Identifier nvarchar(50) NOT NULL,
	Title nvarchar(200) NOT NULL,
	Description nvarchar(1000) NOT NULL,
	IsEnabled bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Course ADD CONSTRAINT
	DF_Course_IsEnabled DEFAULT 0 FOR IsEnabled
GO
ALTER TABLE dbo.Course ADD CONSTRAINT
	PK_Course PRIMARY KEY CLUSTERED 
	(
	CourseID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Course SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Course', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Course', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Course', 'Object', 'CONTROL') as Contr_Per 

GO

�