
src/Catechize/bin
src/Catechize/obj
src/Catechize/Web.config
src/Catechize/App_Data

src/Catechize.Services/bin
src/Catechize.Services/obj

src/Catechize.Services.SqlServer/bin
src/Catechize.Services.SqlServer/obj


src/Catechize.Test/bin
src/Catechize.Test/obj

src/Catechize.Model/bin
src/Catechize.Model/obj

*.csproj.user
*.suo
*.cache
*.bak
*.log
*.swp
*.user

*.mdf
*.ldf

Thumbs.db
