@model IEnumerable<Catechize.Model.Course>
@{
    ViewBag.Title = "ListAllCourses";
}
<h2>
    Courses</h2>
    <hr />
@foreach (var item in Model)
{
    <h3>@item.Title</h3>
    <p>@item.Description</p>
    @LinkTo.RegisterForCourse(item)
    <hr />
}
