@{
    ViewBag.Title = "LinkToTest";
}
<h2>LinkToTest</h2>

TODO: Get rid of Redundent Link ending to the methods!!!
@LinkTo.CoursesLink()
@LinkTo.CourseLink("testcourse")
@LinkTo.NewCourseLink()
@LinkTo.EditCourseLink("anothertestcourse")


